<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/highlightjs/styles/default.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body ng-app="clientApp" ng-controller="ApplicationCtrl as app">
    <!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

    <!-- Add your site or application content here -->
    <nav ng-show="app.isAuthenticated()" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/#/">shellsquid</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/#/records">Records</a>
                    </li>
                    <li><a href="/#/users">Users</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Version {{app.info.version}}</a>
                    </li>
                    <li ng-show="app.info.proxy.ssl.enabled"><a href="#">SSL Proxy {{app.info.proxy.ssl.listener}}</a>
                    </li>
                    <li ng-show="app.info.proxy.http.enabled"><a href="#">HTTP Proxy {{app.info.proxy.http.listener}}</a>
                    </li>
                    <li><a href="/#/help">Help</a>
                    </li>
                    <li><a href="/#/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row" ng-show="errorMessage">
            <div class="col-xs-12">
                <div class="alert alert-danger">
                    <button type="button" class="close" ng-click="app.dismiss()">&times;</button>
                    <strong>Error:</strong> {{ errorMessage }}
                </div>
            </div>
        </div>
        <div class="row" ng-show="successMessage">
            <div class="col-xs-12">
                <div class="alert alert-success">
                    <button type="button" class="close" ng-click="app.dismiss()">&times;</button>
                    <strong>Success:</strong> {{ successMessage }}
                </div>
            </div>
        </div>

        <div ng-view=""></div>
    </div>


    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
    <script src="bower_components/marked/lib/marked.js"></script>
    <script src="bower_components/angular-marked/angular-marked.js"></script>
    <script src="bower_components/highlightjs/highlight.pack.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/records.js"></script>
    <script src="scripts/controllers/newrecord.js"></script>
    <script src="scripts/controllers/record.js"></script>
    <script src="scripts/controllers/users.js"></script>
    <script src="scripts/controllers/newuser.js"></script>
    <script src="scripts/controllers/user.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/help.js"></script>
    <script src="scripts/services/user.js"></script>
    <script src="scripts/services/record.js"></script>
    <script src="scripts/controllers/application.js"></script>
    <script src="scripts/services/auth.js"></script>
    <script src="scripts/controllers/logout.js"></script>
    <script src="scripts/services/messenger.js"></script>
    <!-- endbuild -->
</body>

</html>
