<div class="row">
    <div class="col-xs-4">
        <form class="form-horizontal">
            <fieldset>

                <!-- Form Name -->
                <legend>New User</legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="control-label" for="email">Email Address</label>
                    <div class="controls">
                        <input id="email" name="email" type="text" placeholder="foo@example.com" class="form-control" ng-model="vm.email" required="">
                    </div>
                </div>

                <!-- Password input-->
                <div class="form-group">
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input id="password" name="password" type="password" placeholder="password" ng-model="vm.password" class="form-control">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary pull-right" ng-click="vm.addUser()">Submit</button>
    </div>
</div>