<div class="row">
    <div class="col-xs-6">
        <form class="form-horizontal">
            <fieldset>

                <!-- Form Name -->
                <legend>Edit Record</legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="control-label" for="fqdn">FQDN</label>
                    <div class="controls">
                        <input id="fqdn" name="fqdn" type="text" placeholder="foo.bar.baz" class="form-control" ng-model="vm.record.fqdn">
                        <p class="help-block">Full Qualified Domain Name that the payload will use. This is optional, but either this or External IPs must be used.</p>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="control-label" for="host">Handler Host</label>
                    <div class="controls">
                        <input id="host" name="host" type="text" placeholder="127.0.0.1" class="form-control" required="" ng-model="vm.record.handler_host">
                        <p class="help-block">IP Address of payload handler</p>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="control-label" for="port">Handler Port</label>
                    <div class="controls">
                        <input id="port" name="port" type="number" placeholder="4444" class="form-control" required="" ng-model="vm.record.handler_port">
                        <p class="help-block">Port number of payload handler</p>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="control-label" for="protocol">Handler Protocol</label>
                    <div class="controls">
                        <input id="protocol" name="protocol" type="text" placeholder="https" class="form-control" required="" ng-model="vm.record.handler_protocol">
                        <p class="help-block">Protocol of payload handler, will be http or https</p>
                    </div>
                </div>

                <!-- Select Basic -->
                <div class="form-group">
                    <label class="control-label" for="owner">Owner</label>
                    <select id="owner" name="owner" class="form-control" ng-model="vm.owner" ng-options="user.email for user in vm.users"></select>
                </div>

                <button type="submit" class="btn btn-primary pull-right" ng-click="vm.updateRecord()">Save</button>

            </fieldset>
        </form>
    </div>
    <div class="col-xs-5 pull-right">
        <div class="panel panel-danger">
            <div class="panel-heading">
                Blacklist & Delete
            </div>
            <div class="panel-body">
                <p>Enabling blacklist will result in payload's being sent 404's for all requests.</p>
                <button ng-if="!vm.record.blacklist" class="btn btn-warning" ng-click="vm.blacklistRecord()">Blacklist</button>
                <button ng-if="vm.record.blacklist" class="btn btn-primary" ng-click="vm.unblacklistRecord()">Unblacklist</button>
                <br />
                <br />
                <p>Deletion is permanent.</p>
                <button class="btn btn-danger" ng-click="vm.deleteRecord()">Delete</button>
            </div>
        </div>
    </div>
</div>