<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-primary pull-right" style="margin-left: 10px" type="button" href="/#/users/new">Add User</a>
        <input type="text" class="form-control pull-right searchbox" placeholder="Search" ng-model="vm.userFilter">
        <table class="table table-bordered table-hover">
            <thead>
                <th class="one-pix"></th>
                <th>Email Address</th>
            </thead>
            <tbody>
                <tr ng-repeat="user in vm.users | filter: vm.userFilter">
                    <td class="one-pix"><a ng-href="/#/users/{{user.id}}">Edit / View</a>
                        <td>{{ user.email }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>